<div class="col-lg-10 text-center " [@fadeLateral]>
	<h3>{{title}}</h3>
<hr>
	<div class="alert alert-success" *ngIf="status == 'success'">
		Registro completado correctamente
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		No te has registrado correctamente
	</div>

	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-10 col-lg-offset-1 jumbotron-edit">
		<p>
			<label>Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control alineado" required />
			<span *ngIf="!name.valid && name.touched " class="alertado" >
				El nombre es obligatorio
			</span>
		</p>
		<p>
			<label>Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control alineado" required />
			<span *ngIf="!surname.valid && surname.touched" class="alertado">
				Los apellidos son obligatorios
			</span>
		</p>
		<p>
			<label>Correo electrónico</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control alineado" required />
			<span *ngIf="!email.valid && email.touched " class="alertado">
				El email no es correcto
			</span>
		</p>
		<p>
			<label>Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control alineado" required />
			<span *ngIf="!password.valid && password.touched " class="alertado">
				La contraseña no es correcta
			</span>
		</p>


		<input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!registerForm.form.valid" />
	</form>
</div>
