<div class="col-lg-10  text-center" [@fadeLateral]>
	<h3>{{title}}</h3>
	<hr>

	<form #formAdd="ngForm" (ngSubmit)="onSubmit()" class="jumbotron-add-animal">
		<p>
			<label>Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="animal.name" class="form-control alineado" required/>
			<span *ngIf="!name.valid && name.touched " class="alertado">
				El nombre es obligatorio
			</span>
		</p>

		<p>
			<label>Descripción</label>
			<textarea name="description" #description="ngModel" [(ngModel)]="animal.description" class="form-control" required></textarea>
			<span *ngIf="!description.valid && description.touched" class="alertado">
				La descripción es obligatorio
			</span>
		</p>

		<p>
			<label>Año</label>
			<input type="text" name="year" #year="ngModel" [(ngModel)]="animal.year" class="form-control alineado" required/>
			<span *ngIf="!year.valid && year.touched " class="alertado">
				El año es obligatorio
			</span>
		</p>

		<div *ngIf="is_edit && animal.image">
			<div class="image_for_edit">
				<img src="{{url + 'get-image-animal/' + animal.image }}" />
			</div>
		</div>

<hr>
		<p>
			<label>Imagen del animal</label>
			<input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)"/>
    </p>
<hr>

		<input type="submit" value="{{title}}" class="btn btn-success"/>
	</form>
</div>
