<div class="col-lg-7 col-lg-offset-3 text-center jumbotron-edit-user">
	<h1>{{title}}</h1>
	<hr>
	<div class="alert alert-success" *ngIf="status == 'success'">
		Has actualizado tu información correctamente
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		No has actualizado tus datos
	</div>

	<form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6 col-lg-offset-3">
		<p>
			<label>Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control alineado" required />
			<span *ngIf="!name.valid && name.touched" class="alertado">
				El nombre es obligatorio
			</span>
		</p>
		<p>
			<label>Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control alineado" required />
			<span *ngIf="!surname.valid && surname.touched" class="alertado">
				Los apellidos son obligatorios
			</span>
		</p>
		<p>
			<label>Correo electrónico</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control alineado" required />
			<span *ngIf="!email.valid && email.touched" class="alertado">
				El email no es correcto
			</span>
		</p>
<hr>
		<div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
			<img src="{{ url + 'get-image-file/' + user.image}}" />
		</div>
<br>
		<p>
			<label>Sube tu avatar</label>
			<input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)" />
		</p>
<hr>
		<input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!userEditForm.form.valid" />

	</form>
</div>
